.gojiri {
  .card-wrap {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .card {
    border: 1px solid #b4e900;
    border-radius: 16px;
    box-shadow: 6px 6px 20px -14px rgb(180 233 0 / 0.8);
    overflow: hidden;
    .inner {
      padding: 0 6px 14px 4px;
      > header {
        position: relative;
        margin: 0 2px;
        height: 44px;
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1px;
          height: 1px;
          background-color: #b4e900;
          opacity: 0.4;
        }
        input {
          padding: 0;
          font-size: 14px;
          color: #fff;
          &[type='text'] {
            min-width: 100px;
            width: auto;
          }
        }
        h2 {
          display: inline-block;
          width: calc(100% - 80px);
          padding: 0 16px;
          margin: 0 auto;
          box-sizing: border-box;
          background: #0c1012;
          text-align: center;
          &.incompleted {
            &:before {
              content: '';
              display: inline-block;
              position: absolute;
              top: 13px;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: #ff5b02;
              transform: translateX(-5px);
            }
          }
          label {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 40px;
            overflow: hidden;
          }
          p.hidden-title {
            z-index: -1;
            display: inline-block;
            position: absolute;
            font-size: 15px;
            font-weight: 400;
            white-space: nowrap;
            opacity: 0;
          }
          input[type='text'] {
            min-width: 10px;
            max-width: calc(100% - 28px);
            height: 24px;
            font-size: 15px;
            text-align: center;
            &::placeholder {
              font-size: 14px;
            }
          }
          button {
            text-indent: -9999px;
            width: 28px;
            height: 44px;
            margin-left: auto;
            border: none;
          }
          .confirm-btn {
            background: url('#{$assetPath}/images/icon_confirm.svg') no-repeat center 12px;
            background-size: 19px;
          }
          .modify-btn {
            background: url('#{$assetPath}/images/icon_edit.svg') no-repeat center 12px;
            background-size: 17px;
          }
        }
        > button {
          text-indent: -9999px;
          position: relative;
          width: 40px;
          height: 44px;
          border: none;
          overflow: hidden;
        }
        .view-btn {
          float: left;
          transform-origin: 50% 50%;
          transition: transform 350ms;
          background: url('#{$assetPath}/images/icon_arrow.svg') no-repeat center;
          background-size: 16px;
          &.active {
            transform: rotate(-180deg);
          }
        }
        .delete-btn {
          float: right;
          background: url('#{$assetPath}/images/icon_delete.svg') no-repeat center;
          background-size: 24px;
        }
      }
    }
    & + .card {
      margin-top: 18px;
    }
  }
  .card-control {
    display: flex;
    gap: 20px;
    padding: 0 16px;
    margin-top: 12px;
    height: 90px;
    &.single {
      padding: 0;
      margin-top: 26px;
      height: 50px;
      button {
        &:before {
          display: inline-block;
          margin: 0 6px 0 0;
          vertical-align: middle;
          background-size: 22px;
        }
      }
    }
    button {
      padding: 12px 0;
      width: 100%;
      border-radius: 6px;
      font-size: 12px;
      font-weight: 500;
      &:before {
        content: '';
        display: block;
        margin: 0 auto 10px;
        width: 26px;
        height: 26px;
      }
      &.add-btn {
        &:before{
          background: url('#{$assetPath}/images/icon_add.svg') no-repeat center;
          background-size: 26px;
        }
      }
      &.load-btn {
        &:before {
          background: url('#{$assetPath}/images/icon_download.svg') no-repeat center;
          background-size: 26px;
        }
      }
    }
  }
}
