.gojiri {
  > header {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 640px;
    padding: 32px 0 0;
    flex-direction: column;
    align-items: center;
    &::after {
      z-index: 10;
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -36px;
      height: 36px;
      background-image: linear-gradient(to bottom, rgb(12, 16, 18) 30%, rgba(12, 16, 18, 0));
    }
    h1 {
      position: absolute;
      top: 12px;
      left: 14px;
      padding: 2px 6px;
      margin: 0;
      border-radius: 20px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.05em;
      color: #0c1012;
      background: #b4e900;
    }
    .year {
      font-size: 15px;
      font-weight: 500;
    }
    .flicking-viewport {
      position: relative;
      width: 160px;
      height: 50px;
      margin-top: 8px;
      overflow: hidden;
      ul.flicking-camera {
        width: 200px;
        white-space: nowrap;
        li {
          display: inline-block;
          text-align: center;
          transform-origin: 50% 50%;
          vertical-align: middle;
          button {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #b4e900;
            background-color: rgb(12 16 18);
            color: #b4e900;
            font-size: inherit;
            transition: background-color 400ms, color 400ms;
            &.incomplete {
              &:before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 4px;
                left: 50%;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #ff5b02;
                transform: translate(-50%);
              }
            }
            span {
              position: absolute;
              top: 50%;
              left: 50%;
              font-size: inherit;
              transform: translate(-50%, -50%);
            }
          }
          &.active {
            button {
              font-weight: 600;
              background-color: #b4e900;
              color: #0c1012;
            }
          }
        }
      }
      .prev,
      .next {
        text-indent: -9999px;
        z-index: 1;
        position: absolute;
        top: 0;
        padding: 0;
        width: 55px;
        height: 100%;
        border: none;
        background-color: rgba(0 0 0 / 0);
      }
      .prev {
        left: 0;
        background-image: linear-gradient(to left, rgba(0 0 0 / 0) 0%, rgba(12 16 18 / 1) 100%);
      }
      .next {
        right: 0;
        background-image: linear-gradient(to right, rgba(0 0 0 / 0) 0%, rgba(12 16 18 / 1) 100%);
      }
    }
  }
}
