.gojiri {
  .card {
    .inner {
      ul {
        padding-top: 14px;
        li {
          position: relative;
          padding-left: 30px;
          transition: padding linear 350ms;
          > label {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 6px;
            height: 16px;
            vertical-align: middle;
            transform: translateY(-50%);
            input {
              position: absolute;
            }
            span {
              position: relative;
              top: 0;
              left: 0;
              width: 16px;
              height: 16px;
              transform: none;
              &:before {
                width: 7px;
                transform: translate(-8px, 3px) rotate(45deg);
              }
              &:after {
                width: 11px;
                transform: translate(-13px, 3px) rotate(135deg);
              }
            }
          }
          // > label.complete ~ .input {
          //   &:before {
          //     content: 'Complete';
          //     z-index: 10;
          //     display: inline-flex;
          //     position: absolute;
          //     justify-content: center;
          //     align-items: center;
          //     top: 0;
          //     left: 0;
          //     right: 0;
          //     bottom: 0;
          //     color: #0c1012;
          //     font-size: 16px;
          //     font-weight: 500;
          //     color: #b4e900;
          //     border: 2px solid #b4e900;
          //     border-radius: 10px;
          //     // background: #b4e90099;
          //     background: #0c101299;
          //   }
          // }
          .input {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            padding: 8px 86px 8px 8px;
            align-items: center;
            border-radius: 10px;
            background: #23271f;
            transition: padding linear 350ms;
            overflow: hidden;
            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }
            input:not([type='radio']) {
              padding: 0;
              border: 1px solid #23271f;
              color: #fff;
              box-sizing: border-box;
            }
            .group {
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
              + .group {
                margin-top: 6px;
              }
            }
            .title-input {
              width: 100%;
              height: 20px;
              font-size: 12px;
            }
            .period-type {
              font-size: 12px;
            }
            .period {
              font-size: 12px;
              text-align: left;
            }
            .amount {
              margin-left: 4px;
              text-align: right;
              white-space: nowrap;
              span {
                display: inline-block;
                margin-top: -2px;
                font-size: 12px;
                vertical-align: middle;
              }
              input {
                margin-left: auto;
                width: 70px;
                height: 20px;
                text-align: right;
                &::placeholder {
                  font-size: 12px;
                }
              }
            }
            > div {
              width: 100%;
              text-align: center;
            }
            .setting {
              display: flex;
              width: 100%;
              font-size: 11px;
              justify-content: space-between;
              box-sizing: border-box;
            }
            .date-btn {
              padding: 2px 0;
              margin-top: 4px;
              width: 100%;
              border-radius: 4px;
              font-size: 12px;
              font-weight: 500;
              text-align: center;
              color: #0c1012;
              background: #b4e900;
              span {
                padding: 0 4px;
              }
            }
          }
          .control {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            top: 50%;
            right: 4px;
            margin-left: auto;
            width: 74px;
            transform: translateY(-50%);
            box-sizing: border-box;
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 1px;
              height: 20px;
              background: #b4e900;
              opacity: 0.6;
              transform: translateY(-50%);
            }
            button {
              text-indent: -9999px;
              position: relative;
              width: 26px;
              height: 26px;
              margin: 4px;
              border: none;
              border-radius: 6px;
              background-color: #b4e900;
              background-repeat: no-repeat;
              background-position: center;
              overflow: hidden;
            }
            .confirm-btn {
              background-image: url('#{$assetPath}/images/icon_confirm_bk.svg');
              background-size: 18px;
            }
            .cancel-btn {
              background-image: url('#{$assetPath}/images/icon_cancel_bk.svg');
              background-size: 17px;
            }
            .modify-btn {
              background-image: url('#{$assetPath}/images/icon_edit_bk.svg');
              background-size: 16px;
            }
            .delete-btn {
              background-image: url('#{$assetPath}/images/icon_delete_bk.svg');
              background-size: 20px;
            }
          }
          & + li {
            margin-top: 12px;
          }
          &.edit .input,
          &.clone .input {
            &:after {
              display: none;
            }
            input {
              color: #fff;
              background: #0c1012;
              border-color: #0c1012;
            }
          }

          &.clone {
            padding: 0;
            .input {
              padding-left: 38px;
            }
          }
        }
      }
      > button {
        text-indent: -9999px;
        position: relative;
        display: block;
        padding: 0;
        margin: 12px auto 0;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        box-sizing: border-box;
        &:before,
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          height: 1px;
          width: 12px;
          transform-origin: 50% 50%;
          background: #b4e900;
        }
        &:before {
          transform: translate(-50%, -50%);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }
}
