#app {
  height: 100%;
}

.gojiri {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  &::after {
    z-index: 10;
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36px;
    background-image: linear-gradient(to top, rgb(12, 16, 18) 30%, rgba(12, 16, 18, 0));
  }
  input {
    border: none;
    font-size: 14px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
  }
  input[type='checkbox'] {
    appearance: none;
    opacity: 0;
    &:checked {
      & + span {
        background: #b4e900;
        &:before,
        &:after {
          display: inline-block;
        }
      }
    }
    & + span {
      text-indent: -9999px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 13px;
      border: 1px solid #b4e900;
      border-radius: 2px;
      background: #23271f;
      transform: translate(-50%, -50%);
      &:before,
      &:after {
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 6px;
        height: 2px;
        border-radius: 2px;
        background: #23271f;
        transform-origin: 100% 50%;
      }
      &:before {
        transform: translate(-7px, 3px) rotate(45deg);
      }
      &:after {
        width: 10px;
        transform: translate(-12px, 3px) rotate(135deg);
      }
    }
  }
  input[type='radio'] {
    appearance: none;
    margin: 0;
    opacity: 0;
    & + span {
      display: inline-block;
      position: relative;
      padding-left: 16px;
      vertical-align: middle;
      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translateY(-50%);
      }
      &:before {
        border: 1px solid #b4e900;
      }
      &:after {
        display: none;
      }
    }
    &:checked {
      & + span {
        &:after {
          display: inline-block;
          left: 3px;
          width: 6px;
          height: 6px;
          background: #b4e900;
        }
      }
    }
  }
  button {
    border: 1px solid #b4e900;
    font-size: 14px;
    font-weight: 400;
    color: #b4e900;
    background-color: rgba(0, 0, 0, 0);
  }
  section {
    position: relative;
    flex: 1;
    padding: 28px 10px 40px 15px;
    width: 100%;
    height: calc(100% - 108px);
    max-width: 640px;
    box-sizing: border-box;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(180 233 0 / 0.4);
      border-radius: 10px;
      background-clip: padding-box;
      border: 1px solid rgb(180 233 0 / 0.4);
    }
    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0);
      border-radius: 10px;
    }
    p {
      margin-bottom: 8px;
      font-weight: 600;
    }
  }
}
