.gojiri {
  .card {
    ul {
      padding: 12px 0;
      li {
        padding: 6px 8px;
        border-radius: 6px;
        background: #333;
        .list {
          display: flex;
          label {
            display: flex;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }

            span {
              display: inline-block;
              width: 70px;
              text-align: center;
            }
          }
        }
        & + li {
          margin-top: 12px;  
        }
        &.edit .list label:before {
          display: none;
        }
      }
    }
  }
}