.gojiri {
  .dim {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0c1012aa;
    .modal {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0 24px;
      min-width: 220px;
      min-height: 140px;
      border-radius: 8px;
      border: 1px solid #b4e900;
      background: rgb(12 16 18);
      transform: translate(-50%, -50%);
      text-align: center;
      box-sizing: border-box;
      h3 {
        position: relative;
        padding: 14px 0 8px;
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -1px;
          height: 1px;
          background-color: #b4e900;
          opacity: 0.4;
        }
      }
      .body {
        input {
          padding: 4px 12px;
          margin: 18px 0 4px;
          border: 1px solid #b4e900;
          font-size: 14px;
          color: #fff;
          background: #23271f;
        }
        p {
          padding: 16px 0 12px;
          line-height: 1.4;
          b {
            display: inline-block;
            width: 100%;
            font-weight: 600;
            color: #ff5b02;
            &:before,
            &:after {
              content: '"';
              padding: 0 1px;
            }
          }
        }
        .error {
          display: inline-block;
          width: 100%;
          font-size: 12px;
          font-weight: 500;
          color: #ff5b02;
        }
      }
      .control {
        padding: 12px 0 20px;
        button {
          padding: 4px 10px;
          border-radius: 2px;
          font-size: 12px;
          font-weight: 400;
          &:first-child {
            font-weight: 500;
            color: #0c1012;
            background: #b4e900;
          }
          & + button {
            margin-left: 8px;
          }
        }
      }
      .picker-wrap {
        display: flex;
        margin: 14px 0px 8px;
        justify-content: center;
        width: 100%;
        [class*='-module'] {
          p {
            margin-bottom: 6px;
            font-size: 12px;
          }
          > div {
            position: relative;
            display: flex;
            padding: 0 8px;
            justify-content: space-between;
            align-items: center;
            height: 100px;
          }
          & + [class*='-period'] {
            margin-left: auto;
          }
        }
        p {
          padding: 0;
          white-space: nowrap;
        }
        .picker {
          position: relative;
          padding: 0 8px;
          height: 100%;
          overflow: hidden;
          li {
            width: 100%;
            line-height: 20px;
            font-size: 14px;
          }
          & + .picker {
            margin-left: 8px;
          }
        }
        .guide-line {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 22px;
          border-top: 1px solid #b4e900;
          border-bottom: 1px solid #b4e900;
          transform: translateY(-50%);
        }
        .dim-top,
        .dim-bottom {
          position: absolute;
          left: 0;
          right: 0;
          height: 38px;
          background: #0c1012;
          opacity: 0.65;
        }
        .dim-top {
          top: 0;
        }
        .dim-bottom {
          bottom: 0;
        }
        .month-module {
          .picker {
            li {
              line-height: 24px;
              font-size: 16px;
            }
          }
          .guide-line {
            height: 26px;
          }
          .dim-top,
          .dim-bottom {
            height: 36px;
          }
        }
      }
    }
  }
}
