.gojiri {
  > header {
    display: flex;
    padding: 24px 0 12px;    
    flex-direction: column;
    align-items: center;
    
    .year {
      font-size: 14px;
    }

    .flicking-viewport {
      position: relative;
      width: 160px;
      height: 50px;
      margin-top: 12px;
      overflow: hidden;

      ul.flicking-camera {
        width: 200px;
        white-space: nowrap;
        li { 
          display: inline-block;
          text-align: center;
          transform-origin: 50% 50%;
          vertical-align: middle;
          button {
            width: 50px;
            height: 50px;  
            font-size: inherit;     
            border-radius: 50%;
            border: 1px solid rgb($SecondaryColorCode);
            background-color: rgb($PrimaryColorCode);
            color: rgb($SecondaryColorCode);
            transition: background-color 600ms, color 600ms;
          } 
          
          &.active {
            button {
              font-weight: 600;
              background-color: rgb($SecondaryColorCode);
              color: rgb($PrimaryColorCode);
            }
          }
        }
      }

      .prev,
      .next {
        text-indent: -9999px;
        z-index: 1;
        position: absolute;        
        top: 0;
        padding: 0;
        width: 55px;
        height: 100%;        
        border: none;
        background-color: rgba(0 0 0 / 0);
      }
      .prev {
        left: 0;
        background-image: linear-gradient(to left, rgba(0 0 0 / 0) 0%, rgba(12 16 18 / 1) 100%);
      }
      .next {
        right: 0;
        background-image: linear-gradient(to right, rgba(0 0 0 / 0) 0%, rgba(12 16 18 / 1) 100%);
      }
    }
  }
}