// color code
$PrimaryColorCode: 12 16 18;
$SecondaryColorCode: 180 233 0;
$PointColorCode: 243 77 77;

@import './reset.scss';
@import './header.scss';
@import './body.scss';
@import './cardList.scss';